<p id="notice"><%= notice %></p>

<p>
  <strong>Ped cod:</strong>
  <%= @guia_despacho_pedido.ped_cod %>
</p>

<p>
  <strong>Guia desp ped fecha:</strong>
  <%= @guia_despacho_pedido.guia_desp_ped_fecha %>
</p>

<%= link_to 'Edit', edit_guia_despacho_pedido_path(@guia_despacho_pedido) %> |
<%= link_to 'Back', guia_despacho_pedidos_path %>
