<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cli_nom %><br>
    <%= f.text_field :cli_nom %>
  </div>
  <div class="field">
    <%= f.label :cli_tel %><br>
    <%= f.text_field :cli_tel %>
  </div>
  <div class="field">
    <%= f.label :cli_mail %><br>
    <%= f.text_field :cli_mail %>
  </div>
  <div class="field">
    <%= f.label :cli_rut %><br>
    <%= f.text_field :cli_rut %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
