<head>
    <style>
      #Panel{
    position: relative;
    float: left;
    padding: 10px;
    left: 0px;
    width: 30%;
}
    #Bienvenida{
    position: relative;
    float: left;
    padding: 10px;
    left: 0px;
    width: 100%;
    background-color: white;   
    background: rgba(255,255,255,0.3);
    }
    #Pedidos{
    position: relative;
    float: left;
    padding: 10px;
    left: 0px;
    width: 100%;
    background-color: white;   
    background: rgba(255,255,255,0.3);
  } 
      #Direcciones{
    position: relative;
    float: left;
    padding: 10px;
    left: 0px;
    width: 70%;
    background-color: white;   
    background: rgba(255,255,255,0.3);
    }
    #Titulo{
        width:100%;
    }
    .tabla{
  background-color: #ececec; 
}
#botoncito{

}
    </style>
</head>
    <% if current_user.role=='cliente' %> 
    <div class="box">
    <!-- <div id='Panel' class="col-left sidebar grid12-3 grid-col2-sidebar no-gutter">
      <div class="block block-account">
        <div class="block-title">
            <strong><span>Mi cuenta</span></strong>
        </div>
        <div class="block-content">
            <ul>
              <li class="current"><strong>Panel de Control</strong></li>
              <li><a href="http://localhost:3000/users/edit">Informacion de la cuenta</a></li>
              <li><a href="http://localhost:3000/direccions/index">Libreta de direcciones</a></li>
              <li><a href="#">Mis pedidos</a></li>
            </ul>
        </div>
    </div>
    </div> -->
    <div class="col-main grid12-9 grid-col2-main no-gutter">        
            <div  class="my-account"><div class="dashboard">
        <div class="page-title">
            <h1>Mi panel de control</h1>
        </div>
        <div id='Bienvenida'>
            <div class="welcome-msg">
            <p class="hello"><strong>Hola,<%= @cliente=current_user
            @cliente.cli_nom %></strong></p>
            <p>Desde Mi Cuenta usted puede ver un resumen de sus actividades recientes y actualizar la información de su cuenta. Seleccione un enlace inferior para ver o editar información.</p>
                </div>
        </div>
        <h2>Pedidos recientes</h2>
        <div  id='Pedidos'  class="box-account box-recent">
        <div class="box-head">
            
           <div class="boton"><a href="http://localhost:3000/documento_de_compras/"><div class="btn btn-primary">Ver Todo</div></a></div>    
        </div>
    <div class='tabla'>
        <table class="table table-hover">
        <colgroup><col width="80">
        <col width="1">
        <col>
        <col width="150">
        <col width="100">
        <col width="1">
            </colgroup><thead>
                <tr bgcolor="d7d7d7">
                    <th>Pedido #</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th><span class="nobr">Total del Pedido</span></th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <%@client=Cliente.where(cli_mail: current_user.email).take
                @compras=DocumentoDeCompra.where("cli_cod= ? AND est_dc_cod>?", @client.cli_cod,1).limit(3)
                @contador = 1
                if @compras.present?
                    @compras.each do |compra|%>
                    <tr> 
                        <td><%=@contador%></td>
                        <td><%=compra.doc_com_fecha%></td>
                        <td><%=current_user.cli_nom%></td>
                        <td><%@detalles=DetalleDocumentoDeCompra.where(doc_com_cod: compra.doc_com_cod)
                            if @detalles.present?%>
                             <%= number_to_currency(@detalles.sum(:det_doc_com_precio), precision:0)%>
                            <%else%> 
                                $0
                            <%end%>                             
                        </td>
                        <td>
                            <%@estado=EstadoDc.where(est_dc_cod: compra.est_dc_cod).take%>
                            <%=@estado.est_dc_nom %>
                        </td>
                        <td><%= link_to compra do %><i class="glyphicon glyphicon-eye-open"></i>
                        <% end %></td>
                        </tr>
                        <%@contador+=1%>
                    <% end %>

                <%else%> 
                    <td>Ninguna</td>
                <%end%>
          </tbody>
        </table>
    </div>
    </div>
            <h2>Solicitudes recientes</h2>
        <div  id='Pedidos'  class="box-account box-recent">
        <div class="box-head">
            
           <div class="boton"><a href="http://localhost:3000/solicitud_devolucions"><div class="btn btn-primary">Ver Todo</div></a></div>   
            
        </div>
    <div class='tabla'>
        <table class="table table-hover">
        <colgroup><col width="100">
        <col width="1">
        <col width='150'>
        <col >
        <col width="1">
        <col width="1">
            </colgroup><thead>
                <tr bgcolor="d7d7d7">
                    <th>Solicitud #</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <%@devoluciones=SolicitudDevolucion.where(cli_cod: @client.cli_cod).limit(3)
                @contador = 1
                if @devoluciones.present?
                    @devoluciones.each do |devolucion|%> 
                        <tr>
                        <td><%=@contador%></td>
                        <td><%=devolucion.sol_dev_fecha%></td>
                        <td><%=current_user.cli_nom%></td>
                        <td><%=devolucion.sol_dev_comentario%></td>
                        <td><%=devolucion.sol_dev_est%>
                        </td>
                        <td><%= link_to devolucion do %><i class="glyphicon glyphicon-eye-open"></i>
                        <% end %></td>
                    </tr>
                        <%@contador+=1%>
                    <% end %>

                <%else%> 
                    <td>Ninguna</td>
                <%end%>
          </tbody>
        </table>

   </div>
                <div class="box-head">
            
           <div class="boton"><a href="http://localhost:3000/CrearSolDev"><div class="btn btn-primary">Crear Solicitud</div></a></div>   
            
        </div>
    </div>
        <div class="">
            <div id='Titulo'class="">
                <h2>Informacion de la cuenta</h2>
            </div>
        <div class="col2-set">
        
        <div id='Panel' class="col-1">

            <div class="box">
                <div class="box-title">
                    <h3>Información de contacto</h3>
                    <a href="http://localhost:3000/users/edit/">Editar</a>
                </div>
                <div class="box-content">
                    <p>Nombre: <%=@cliente.cli_nom %><br>
                      Telefono: <%=@cliente.cli_tel %><br>
                      Correo: <%=@cliente.email %><br>
                    </p>
                </div>
            </div>
        </div>
        </div>
            <div class="col2-set">
        <div id="Direcciones">
            <div class="box-title">
                <h3>Libreta de direcciones</h3>
                <a href="http://localhost:3000/direccions/">Gestionar direcciones</a>
            </div>
            <div>
                <div id='Panel' class="col-1">
                    <h4>Dirección de facturación por defecto</h4>
                        <%@client=Cliente.where(cli_mail: current_user.email).take
                        @direcciones=Direccion.where(cli_cod: @client.cli_cod)
                        if @direcciones.present?
                            @direcciones.each do |direccion|%> 
                                <td><%=direccion.dir_calle%></td>
                                <td><%=direccion.dir_numero%></td>
                                <td><%=direccion.dir_ciudad%></td>
                                <td><%=direccion.dir_comuna%></td> <br>
                                
                            <% end %>
                        <%else%> 
                        <td>Ninguna</td>
                        <%end%>
                </div>
                <div id='Panel' class="col-1">
                    <h4>Dirección de envío por defecto</h4>
                                            <%@client=Cliente.where(cli_mail: current_user.email).take
                        @direcciones=Direccion.where(cli_cod: @client.cli_cod)
                        if @direcciones.present?
                            @direcciones.each do |direccion|%> 
                                <td><%=direccion.dir_calle%></td>
                                <td><%=direccion.dir_numero%></td>
                                <td><%=direccion.dir_ciudad%></td>
                                <td><%=direccion.dir_comuna%></td> 
                            <% end %>
                        <%else%> 
                        <td>Ninguna</td>
                        <%end%>
                </div>
            </div>
        </div>
    </div>
        </div>
            </div></div> </div>
    </div>





<% else %>
     <div class='box'>   
        <div class="page-title">
            <h1>Mi panel de control</h1>
        </div>
        <div id='Bienvenida'>
            <div class="welcome-msg">
            <p class="hello"><strong>Hola,<%= @cliente=current_user
            @cliente.cli_nom %></strong></p>
            <p>Desde Mi Cuenta usted puede ver un resumen de sus actividades recientes y actualizar la información de su cuenta. Seleccione un enlace inferior para ver o editar información.</p>
                </div>
        </div>
    </div>    
<% end %>