<p id="notice"><%= notice %></p>

<p>
  <strong>Cli nom:</strong>
  <%= @cliente.cli_nom %>
</p>

<p>
  <strong>Cli tel:</strong>
  <%= @cliente.cli_tel %>
</p>

<p>
  <strong>Cli mail:</strong>
  <%= @cliente.cli_mail %>
</p>

<p>
  <strong>Cli rut:</strong>
  <%= @cliente.cli_rut %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
