<p id="notice"><%= notice %></p>

<h1>Listing Art Prop Vals</h1>

<table>
  <thead>
    <tr>
      <th>Val cod</th>
      <th>Art cod</th>
      <th>Prop cod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_prop_vals.each do |art_prop_val| %>
      <tr>
        <td><%= art_prop_val.val_cod %></td>
        <td><%= art_prop_val.art_cod %></td>
        <td><%= art_prop_val.prop_cod %></td>
        <td><%= link_to 'Show', art_prop_val %></td>
        <td><%= link_to 'Edit', edit_art_prop_val_path(art_prop_val) %></td>
        <td><%= link_to 'Destroy', art_prop_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art prop val', new_art_prop_val_path %>
