<p>
  <strong>Val cod:</strong>
  <%= @art_prop_val.val_cod %>
</p>

<p>
  <strong>Art cod:</strong>
  <%= @art_prop_val.art_cod %>
</p>

<p>
  <strong>Prop cod:</strong>
  <%= @art_prop_val.prop_cod %>
</p>

<%= link_to 'Edit', edit_art_prop_val_path(@art_prop_val) %> |
<%= link_to 'Back', art_prop_vals_path %>
