<p id="notice"><%= notice %></p>

<h1>Listing Documento De Cobros</h1>

<table>
  <thead>
    <tr>
      <th>Not cre cod</th>
      <th>Doc com cod</th>
      <th>Doc cob tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documento_de_cobros.each do |documento_de_cobro| %>
      <tr>
        <td><%= documento_de_cobro.not_cre_cod %></td>
        <td><%= documento_de_cobro.doc_com_cod %></td>
        <td><%= documento_de_cobro.doc_cob_tipo %></td>
        <td><%= link_to 'Show', documento_de_cobro %></td>
        <td><%= link_to 'Edit', edit_documento_de_cobro_path(documento_de_cobro) %></td>
        <td><%= link_to 'Destroy', documento_de_cobro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documento de cobro', new_documento_de_cobro_path %>
