
<h1>Listing Art Props</h1>

<table>
  <thead>
    <tr>
      <th>Prop cod</th>
      <th>Art cod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_props.each do |art_prop| %>
      <tr>
        <td><%= art_prop.prop_cod %></td>
        <td><%= art_prop.art_cod %></td>
        <td><%= link_to 'Ver', art_prop %></td>
        <td><%= link_to 'Editar', edit_art_prop_path(art_prop) %></td>
        <td><%= link_to 'Eliminar', art_prop, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Art prop', new_art_prop_path %>
