<p id="notice"><%= notice %></p>
<style>
.tabla{
  background-color: #ececec; 
}
.boton{
  float:right;
}
</style>
<div class="box">
<h1>Categorias</h1>
<div class="tabla">
<table class="table table-hover" >
  <thead>
    <tr bgcolor="d7d7d7" >
      <th>Nombre categoría</th>
      <th>Categoría padre</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categoris.each do |categori| %>
      <tr>
        <td><%= categori.cat_nom %></td>
        <%if categori.cat_cat_cod.nil?%>
        <td>Niguna</td>
        <%else 
        @padre=Categori.where(cat_cod: categori.cat_cat_cod).take%>
        <td><%= @padre.cat_nom %></td>
        <%end%>
        <td><%= link_to categori do %><i class="glyphicon glyphicon-eye-open"></i>
<% end %></td>
        <td><%= link_to edit_categori_path(categori) do %><i class="glyphicon glyphicon-pencil"></i>
<% end %></td>
        <td><%= link_to categori, method: :delete, data: { confirm: '¿Está seguro?' } do %><i class="glyphicon glyphicon-trash"></i>
<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="boton"><%= button_to new_categori_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar Categoría
<% end %></div>
</div>
