<p id="notice"><%= notice %></p>
<head>
  <title><%= @categori.cat_nom %> - PyS Designs</title> 
</head>
<style>
  .articulo{
    float: right;
    margin:2px;
    background-color: white; 
    background: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 0px 0px rgba(128,128,128,1);
    padding: 10px;
    width: 300px;
    height: 320px;
    border: solid #D7D7D7 1px;
    text-align: center;
    position: relative;
    -webkit-transition: box-shadow 0.1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.1s;
  }
  .articulo:visited{color: black;text-decoration: none;}
  .articulo:hover {
    box-shadow: 7px 7px 20px -4px black;
  }
  a:hover   
  {   
   text-decoration:none;   
  }  
</style>
<div class="box">
<article>
<h1><%= @categori.cat_nom %></h1><p>
<% @aux=[]
@instancis.each do |instanci|
  if  @aux.include?(instanci.ins_cod_prov)==false
    @aux.push(instanci.ins_cod_prov)%> <div class ="articulo">
   <% @imagen=Imagen.select("imagen_uri").where(ins_cod_prov: instanci.ins_cod_prov).take %>
    <a href="#"><img src="<%=@imagen.imagen_uri%>" height="200px" width="124px">
      <% @articulo=Articulo.where(art_cod: instanci.art_cod).take%>
      <p><font color="black"><%=@articulo.art_nom%></font></p>
      <p><font color="black"><%=number_with_delimiter(instanci.ins_precio_lista, :delimiter => '.')%> $</font></p></a>
        <button type="button" class="btn btn-primary" href="#">
          <span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carro</button></div>
  <% end %>
<% end %>

</article>
</div>
