<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Cat cat cod:</strong>
  <%= @categori.cat_cat_cod %>
</p>

<p>
  <strong>Cat nom:</strong>
  <%= @categori.cat_nom %>
</p>

<%= link_to 'Edit', edit_categori_path(@categori) %> |
<%= link_to 'Back', categoris_path %> -->
<p id="notice"><%= notice %></p>
<style>
  .articulo 
  {
    float: left;
    margin-right:10px;
  }
</style>
<h1><%= @categori.cat_nom %></h1>
<% @aux=[]
@instancis.each do |instanci|
  if  @aux.include?(instanci.ins_cod_prov)==false
    @aux.push(instanci.ins_cod_prov)%> <div class="articulo">
   <% @imagen=Imagen.select("imagen_uri").where(ins_cod_prov: instanci.ins_cod_prov).take %>
    <a href="#"><img src="<%=@imagen.imagen_uri%>" eight="200px" width="124px"> 
      <p><%= instanci.ins_precio_lista %>$</p></a></div>
  <% end %>
<% end %>
<br>

<br>
