<p id="notice"><%= notice %></p>

<p>
  <strong>Cat cat cod:</strong>
  <%= @categori.cat_cat_cod %>
</p>

<p>
  <strong>Cat nom:</strong>
  <%= @categori.cat_nom %>
</p>

<%= link_to 'Edit', edit_categori_path(@categori) %> |
<%= link_to 'Back', categoris_path %>
