<%= form_for(@estado_pedido) do |f| %>
  <% if @estado_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_pedido.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @estado_pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado_ped_nom %><br>
    <%= f.text_field :estado_ped_nom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
