<p id="notice"><%= notice %></p>

<p>
  <strong>Doc com cod:</strong>
  <%= @historial_estado_dc.doc_com_cod %>
</p>

<p>
  <strong>Est dc cod:</strong>
  <%= @historial_estado_dc.est_dc_cod %>
</p>

<p>
  <strong>Hist est dc cod:</strong>
  <%= @historial_estado_dc.hist_est_dc_cod %>
</p>

<p>
  <strong>Hist est dc fecha:</strong>
  <%= @historial_estado_dc.hist_est_dc_fecha %>
</p>

<%= link_to 'Edit', edit_historial_estado_dc_path(@historial_estado_dc) %> |
<%= link_to 'Back', historial_estado_dcs_path %>
