 

<h1>Listing Estado Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Est art nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_articulos.each do |estado_articulo| %>
      <tr>
        <td><%= estado_articulo.est_art_nom %></td>
        <td><%= link_to 'Show', estado_articulo %></td>
        <td><%= link_to 'Edit', edit_estado_articulo_path(estado_articulo) %></td>
        <td><%= link_to 'Destroy', estado_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado articulo', new_estado_articulo_path %>
