<%= form_for(@transicion_estado_art) do |f| %>
  <% if @transicion_estado_art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transicion_estado_art.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @transicion_estado_art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :est_est_art_cod %><br>
    <%= f.number_field :est_est_art_cod %>
  </div>
  <div class="field">
    <%= f.label :est_art_cod %><br>
    <%= f.number_field :est_art_cod %>
  </div>
  <div class="field">
    <%= f.label :trans_est_art_cod %><br>
    <%= f.number_field :trans_est_art_cod %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
