 

<p>
  <strong>Est est art cod:</strong>
  <%= @transicion_estado_art.est_est_art_cod %>
</p>

<p>
  <strong>Est art cod:</strong>
  <%= @transicion_estado_art.est_art_cod %>
</p>

<p>
  <strong>Trans est art cod:</strong>
  <%= @transicion_estado_art.trans_est_art_cod %>
</p>

<%= link_to 'Edit', edit_transicion_estado_art_path(@transicion_estado_art) %> |
<%= link_to 'Back', transicion_estado_arts_path %>
