<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pro_nom, "Nombre proveedor" %><br>
    <%= f.text_field :pro_nom %>
  </div>
  <div class="field">
    <%= f.label :pro_mail, "Email" %><br>
    <%= f.text_field :pro_mail %>
  </div>
  <div class="field">
    <%= f.label :pro_desc, "Descripción" %><br>
    <%= f.text_area :pro_desc %>
  </div>
  <div class="field">
    <%= f.label :pro_web, "Web"%><br>
    <%= f.text_field :pro_web %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%>
  </div>
<% end %>
