 
<div class='box'>
<h1>Lista Proveedores</h1>
<div class='tabla'>
             
<table class="table table-hover">
            <colgroup><col width="80">
          <col width="1">
          <col width="150">
          <col width="100">
          <col width="1">
          <col width="1">
          <col width="1">
              </colgroup>
              <thead>
                  <tr bgcolor="d7d7d7">
                      <th>Nombre</th>
                      <th>Mail</th>
                      <th>Descripcion</th>
                      <th>web</th>
                      <th></th>
                      <th></th>
                      <th></th>
                   </tr>
              </thead>
              <tbody bgcolor='ececec'>
                <%if @proveedors.present?%>
                 <%@proveedors.each do |proveedor|%>
                 <tr>
                <td><%=proveedor.pro_nom %></td>
                <td><%=proveedor.pro_mail%></td>
                <td><%=proveedor.pro_desc%></td>
                <td><%=proveedor.pro_web%></td>
                <td><%= link_to proveedor do %><i class="glyphicon glyphicon-eye-open"></i><% end %></td>
                <td><%= link_to edit_proveedor_path(proveedor) do %><i class="glyphicon glyphicon-pencil"></i><% end %></td>
                <td><%= link_to proveedor, method: :delete, data: { confirm: '¿Está seguro?' } do %><i class="glyphicon glyphicon-trash"></i><% end %></td>
                </tr>
                <%end%>
            <%else%>
              <td>No existen proveedores</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
            </tbody>
            
          </table>
<br>

<div class="boton"><%= button_to new_proveedor_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar proveedor
<% end %></div>
</div>