<%= form_for(@direccion) do |f| %>
  <% if @direccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direccion.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @direccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dir_calle, "Calle" %><br>
    <%= f.text_field :dir_calle %>
  </div>
  <div class="field">
    <%= f.label :dir_numero, "Número" %><br>
    <%= f.number_field :dir_numero %>
  </div>
  <div class="field">
    <%= f.label :dir_comuna, "Comuna" %><br>
    <%= f.text_field :dir_comuna %>
  </div>
  <div class="field">
    <%= f.label :dir_ciudad, "Ciudad" %><br>
    <%= f.text_field :dir_ciudad %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%>
  </div>
<% end %>
