<style>
.tabla{
  background-color: #ececec; 
}
.boton{
  float:right;
}
</style>
 
<div class="box">
<h1>Direcciones</h1>
<div class="tabla">
<table class="table table-hover" >
  <thead>
    <tr bgcolor="d7d7d7" >
      <th>Calle</th>
      <th>Número</th>
      <th>Ciudad</th>
      <th>Comuna</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%@client=Cliente.where(cli_mail: current_user.email).take
    @direcciones=Direccion.where(cli_cod: @client.cli_cod)
    if @direcciones.present?
      @direcciones.each do |direccion|%> 
        <tr>
        <td><%=direccion.dir_calle%></td>
        <td><%=direccion.dir_numero%></td>
        <td><%=direccion.dir_ciudad%></td>
        <td><%=direccion.dir_comuna%></td> 
        <td><%= link_to edit_direccion_path(direccion) do %><i class="glyphicon glyphicon-pencil"></i><% end %></td>
        <td><%= link_to direccion, method: :delete, data: { confirm: '¿Está seguro?' } do %><i class="glyphicon glyphicon-trash"></i><% end %></td>
      </tr>
      <% end %>
        <%else%> 
        <td>Ninguna</td>
        <%end%>

      
  </tbody>
</table>
</div>
<div class="boton"><%= button_to new_direccion_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar Direccion<% end %>
</div>
</div>