<div class='box'>
<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Proveedor' %><br>
    <%@proveedors=Proveedor.all
    @aux=[]
    @aux1=[]
    @proveedors.each do |prov|
      @aux.push(prov.pro_nom)
      @aux.push(prov.pro_cod)
      @aux1.push(@aux)
      @aux=[]
      end%>
    <%= f.select(:pro_cod) do %></i>
  <% @aux1.each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
  </div>
  <div class="field">
    <%= f.label :ped_fecha %><br>
    <%= f.date_select :ped_fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>