<style>
.boton{
  float:right;
}
</style> 
<div class='box'>
<h1>Pedidos</h1>
<div class='tabla'>
             
<table class="table table-hover">
            <colgroup><col width="80">
          <col width="1">
          <col width="150">
          <col width="100">
          <col width="1">          <col width="1">
          <col width="1">
          <col width="1">
              </colgroup>
              <thead>
                  <tr bgcolor="d7d7d7">
                      <th>Codigo</th>
                      <th>Proveedor</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                      <th>Agregar Detalle</th>
                      <th></th>
                      <th></th>
                      <th></th>
                   </tr>
              </thead>
              <tbody bgcolor='ececec'>
                <%if @pedidos.present?%>
                  <% @pedidos.each do |pedido| %>
                    <tr>
                      <td><%= pedido.ped_cod %></td>
                      <%@prov=Proveedor.where(pro_cod: pedido.pro_cod).take%>
                      <td><%= @prov.pro_nom %></td>
                      <td><%= pedido.ped_fecha %></td>
                      <%@estped=EstadoPedido.where(estado_ped_cod: pedido.estado_ped_cod).take%>
                      <td><%= @estped.estado_ped_nom %></td>
                      <%if pedido.estado_ped_cod==1%>
                      <td><%= button_to :controller => :detalle_pedidos,:action => 'creardetalle',:val =>  pedido.ped_cod , :method => :post do%>
                        <span class="glyphicon glyphicon-asterisk"></span><% end %></td>
                      <%else%>
                      <%end%>

                <td><%= link_to pedido do %><i class="glyphicon glyphicon-eye-open"></i><% end %></td>
                <td><%= link_to edit_pedido_path(pedido) do %><i class="glyphicon glyphicon-pencil"></i><% end %></td>
                <td><%= link_to pedido, method: :delete, data: { confirm: '¿Está seguro?' } do %><i class="glyphicon glyphicon-trash"></i><% end %></td>
                </tr>
                <%end%>
            <%else%>
              <td>No existen pedidos</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
            </tbody>
            
          </table>
<br>

<div class="boton"><%= button_to new_pedido_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar pedido
<% end %></div>
</div> 
