 <style>
.tabla{
  background-color: #ececec; 
}
</style>
<div class="box">
	<p>
	  <strong>Estado pedido:</strong>
	  <%@estado=EstadoPedido.where(estado_ped_cod: @pedido.estado_ped_cod).take%>
	  <%=@estado.estado_ped_nom  %>
	</p>

	<p>
	  <strong>Proveedor:</strong>
	  <%@proveedor=Proveedor.where(pro_cod: @pedido.pro_cod).take%>
	  <%=@proveedor.pro_nom  %>
	</p>

	<p>
	  <strong>Fecha pedido:</strong>
	  <%= @pedido.ped_fecha %>
	</p>
<div class="tabla">
<table class="table table-hover">
  <thead>
    <tr bgcolor="d7d7d7">
      <th>Linea</th>
      <th>Codigo articulo</th>
      <th>Codigo proveedor</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <%@contador=0%>
    <%if @pedido.detalle_pedidos.present?%>
    <% @pedido.detalle_pedidos.each do |detalle_pedido| %>
    <%@contador=@contador+detalle_pedido.det_ped_precio%>
      <tr>
          <td><%= detalle_pedido.det_ped_linea %></td>
          <td><%= detalle_pedido.ins_cod %></td>
          <td><%= detalle_pedido.ins_cod_prov %></td>
          <td><%= detalle_pedido.det_ped_cant %></td>
          <td><%= number_with_delimiter(detalle_pedido.det_ped_precio, :delimiter => '.') %></td>
          
      </tr>
    <% end %>
          <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_with_delimiter(@contador, :delimiter => '.') %></td>
      </tr>
      <%else%>
      <tr>
          <td>No hay detalle</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <%end%>
  </tbody>
</table></div>
<%if @pedido.estado_ped_cod==1%>
	<%= link_to 'Editar', editar_pedido_path(params[:id]) %> |
<%end%>
	<%= link_to 'Atrás', pedidos_path %>
</div>