<%@detalle_pedido=DetallePedido.where(ped_cod: d.ped_cod, det_ped_linea: d.det_ped_linea).take%>
<%= form_for(@detalle_pedido) do |dp| %>
    <table>
  <thead>
    <tr>
      <th></th>
      <th><%= dp.label :ins_cod, "Codigo articulo" %></th>
      <th><%= dp.label :ins_cod_prov, "Codigo proveedor" %></th>
      <th><%= dp.label :det_ped_cant ,"Cantidad"%></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td><%= dp.number_field :ins_cod %></td>
        <td><%= dp.number_field :ins_cod_prov %></td>
        <td><%= dp.number_field :det_ped_cant %></td>
      </tr>
  </tbody>
</table> 
<%= dp.submit %>
<%end%>