 <%@documento_de_compra=DocumentoDeCompra.where(doc_com_cod: c.doc_com_cod).take%>
<%= form_for(@documento_de_compra) do |f| %>
  <% if @documento_de_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento_de_compra.errors.count, "error") %> antes de guardar:</h2>

      <ul>
      <% @documento_de_compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :est_dc_cod %><br>
   <%@transiciones=TransicionEstadoDc.where(est_est_dc_cod: c.est_dc_cod)
   @estados=[]
   @transiciones.each do |t|
    @estados=@estados+EstadoDc.where(est_dc_cod: t.est_dc_cod)
   end%>
    <%= f.select(:est_dc_cod, @estados.collect {|es| [es.est_dc_nom, es.est_dc_cod]}, { :include_blank => "Seleccionar" })%>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%>
  </div>
<% end %>
