<style>
.boton{
  float:right;
}
</style>
<div class="box">
  <h1>Documentos De Compra</h1>
  <%if current_user
      if current_user.role=='admin' || current_user.role=='vendedor'%>
      <div class='tabla'>
          <table class="table table-hover">
         <thead>
                  <tr bgcolor="d7d7d7">
                      <th>#</th>
                      <th>Fecha</th>
                      <th>Nombre Cliente</th>
                      <th>Total</th>
                      <th>Tipo<th>
                      <th>Estado</th>
                      <th>Accion</th>
                  </tr>
              </thead>
              <tbody bgcolor='ececec'>
                  <%@compras=DocumentoDeCompra.all
                  @contador = 1
                  if @compras.present?
                      @compras.each do |compra|%> 
                      <%if compra.cli_cod != nil && compra.est_dc_cod!=1%>
                      <tr>
                          <td><%=@contador%></td>
                          <td><%=compra.doc_com_fecha%></td>
                          <%@cliente=Cliente.where(cli_cod: compra.cli_cod).take%>
                          <td><%=@cliente.cli_nom%></td>
                          <%@detalles=DetalleDocumentoDeCompra.where(doc_com_cod: compra.doc_com_cod)
                              if @detalles.present?%>
                               <td><%= number_to_currency(@detalles.sum(:det_doc_com_precio), precision:0)%></td>
                              <%else%> 
                                  <td>$0</td>
                              <%end%>                             
                          
                          <td><%=compra.doc_com_tipo%></td>
                          <td></td>
                          <%@estado=EstadoDc.where(est_dc_cod: compra.est_dc_cod).take%>
                          <td><%=@estado.est_dc_nom %>
                          <%if @estado.est_dc_nom!='Borrador'%>
                           <a data-toggle="modal" data-target="#<%=compra.doc_com_cod%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <!-- Modal -->
                            <div class="modal fade bs-example-modal-sm" id="<%=compra.doc_com_cod%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body" align="center">
                                <%= render 'editar_estado', c: compra%>
                              </div></div></div></div><%end%></td>
                          <td><%= link_to compra do %><i class="glyphicon glyphicon-eye-open"></i>
                          <% end %></td>
                          <%@contador+=1%>
                    </tr>
                    <%end%>
                      <% end %>

                  <%else%> 
                      <td>Ninguna</td>
                  <%end%>
            </tbody>
          </table>
      </div>
    <br>
      <%elsif current_user.role=='cliente'%>
         <div class='tabla'>
                <table class="table table-hover">
                <colgroup><col width="80">
                <col width="1">
                <col>
                <col width="150">
                <col width="100">
                <col width="1">
                    </colgroup><thead>
                        <tr bgcolor="d7d7d7">
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th><span class="nobr">Total</span></th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody bgcolor='ececec'>
                        <%@client=Cliente.where(cli_mail: current_user.email).take
                        @compras=DocumentoDeCompra.where("cli_cod= ? AND est_dc_cod>?", @client.cli_cod,1)
                        @contador = 1
                        if @compras.present?
                            @compras.each do |compra|%>
                            <tr> 
                                <td><%=@contador%></td>
                                <td><%=compra.doc_com_fecha%></td>
                                <td><%=current_user.cli_nom%></td>
                                <td><%@detalles=DetalleDocumentoDeCompra.where(doc_com_cod: compra.doc_com_cod)
                                    if @detalles.present?%>
                                     <%= number_to_currency(@detalles.sum(:det_doc_com_precio), precision:0)%>
                                    <%else%> 
                                        $0
                                    <%end%>                             
                                </td>
                                <td>
                                    <%@estado=EstadoDc.where(est_dc_cod: compra.est_dc_cod).take%>
                                    <%=@estado.est_dc_nom %>
                                </td>
                                <td><%= link_to compra do %><i class="glyphicon glyphicon-eye-open"></i>
                                <% end %></td>
                                </tr>
                                <%@contador+=1%>
                            <% end %>

                        <%else%> 
                            <td>Ninguna</td>
                        <%end%>
                  </tbody>
                </table>
            

      
      <%end%>
  <%end%>
</div>