<p id="notice"><%= notice %></p>

<p>
  <strong>Est dc cod:</strong>
  <%= @documento_de_compra.est_dc_cod %>
</p>

<p>
  <strong>Ven cod:</strong>
  <%= @documento_de_compra.ven_cod %>
</p>

<p>
  <strong>Guia desp cod:</strong>
  <%= @documento_de_compra.guia_desp_cod %>
</p>

<p>
  <strong>Cli cod:</strong>
  <%= @documento_de_compra.cli_cod %>
</p>

<p>
  <strong>Doc cob cod:</strong>
  <%= @documento_de_compra.doc_cob_cod %>
</p>

<p>
  <strong>Doc com fecha:</strong>
  <%= @documento_de_compra.doc_com_fecha %>
</p>

<p>
  <strong>Doc com met ent:</strong>
  <%= @documento_de_compra.doc_com_met_ent %>
</p>

<p>
  <strong>Doc com met pago:</strong>
  <%= @documento_de_compra.doc_com_met_pago %>
</p>

<p>
  <strong>Doc com tipo:</strong>
  <%= @documento_de_compra.doc_com_tipo %>
</p>

<%= link_to 'Edit', edit_documento_de_compra_path(@documento_de_compra) %> |
<%= link_to 'Back', documento_de_compras_path %>
