<%= form_for(@solicitud_devolucion) do |f| %>
  <% if @solicitud_devolucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud_devolucion.errors.count, "error") %> prohibited this solicitud_devolucion from being saved:</h2>

      <ul>
      <% @solicitud_devolucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Detalle Solicitud</h2>
<div class='tabla'>
    <table class="table table-hover">
    <colgroup>
    <col width="80">
    <col width="180">
    <col width="1">
    <col width="150">
    <col width="100">
    <col width="1">
      </colgroup>
      <thead>
          <tr bgcolor="d7d7d7">
              <th>Linea</th>
              <th>Articulo</th>
              <th>Cantidad</th>
              <th>Precio</th>
           </tr>
      </thead>
      <tbody bgcolor='ececec'>
         <%@detalles=DetalleSolDevolucion.where(sol_dev_cod: @solicitud_devolucion.sol_dev_cod)
         if @detalles.present?
          @contador=1
          @detalles.each do |linea|%>
          <tr>
          <td><%=@contador %></td>
          <%@instancia=Instanci.where(ins_cod: linea.ins_cod).take
            @articulo=Articulo.where(art_cod: @instancia.art_cod).take
          %>
          <td><%=@articulo.art_nom%></td>
        <td><%=linea.det_sol_dev_cant %></td>
        <td><%=number_to_currency(linea.det_sol_dev_precio, precision:0)%></td>
            </tr>
            <%@contador+=1
            end%>
            <td></td>
            <td></td>
            <td></td>
            <td><%=number_to_currency(@detalles.sum(:det_sol_dev_precio), precision:0)%></td>
            <%else%>
                <td>No existe detalle</td>
                <td></td>
                <td></td>
                <td></td>
            <% end %>
    
    </tbody>
  
  </table>
</div>
  <div class="field">
    <%= f.label 'Estado' %><br>
    <%= f.select(:sol_dev_est,options_for_select([['Aprobada','Aprobada'],['Rechazada','Rechazada']],1))%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
