 

<p>
  <strong>Not cre cod:</strong>
  <%= @solicitud_devolucion.not_cre_cod %>
</p>

<p>
  <strong>Doc com cod:</strong>
  <%= @solicitud_devolucion.doc_com_cod %>
</p>

<p>
  <strong>Ven cod:</strong>
  <%= @solicitud_devolucion.ven_cod %>
</p>

<p>
  <strong>Cli cod:</strong>
  <%= @solicitud_devolucion.cli_cod %>
</p>

<p>
  <strong>Sol dev comentario:</strong>
  <%= @solicitud_devolucion.sol_dev_comentario %>
</p>

<p>
  <strong>Sol dev est:</strong>
  <%= @solicitud_devolucion.sol_dev_est %>
</p>

<%= link_to 'Edit', edit_solicitud_devolucion_path(@solicitud_devolucion) %> |
<%= link_to 'Back', solicitud_devolucions_path %>
