<%= form_for(@imagen) do |f| %>
  <% if @imagen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imagen.errors.count, "error") %> prohibited this imagen from being saved:</h2>

      <ul>
      <% @imagen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ins_cod %><br>
    <%= f.number_field :ins_cod %>
  </div>
  <div class="field">
    <%= f.label :ins_cod_prov %><br>
    <%= f.text_field :ins_cod_prov %>
  </div>
  <div class="field">
    <%= f.label :imagen_uri %><br>
    <%= f.text_field :imagen_uri %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
