<p id="notice"><%= notice %></p>

<h1>Listing Imagens</h1>

<table>
  <thead>
    <tr>
      <th>Ins cod</th>
      <th>Ins cod prov</th>
      <th>Imagen uri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagens.each do |imagen| %>
      <tr>
        <td><%= imagen.ins_cod %></td>
        <td><%= imagen.ins_cod_prov %></td>
        <td><%= imagen.imagen_uri %></td>
        <td><%= link_to 'Show', imagen %></td>
        <td><%= link_to 'Edit', edit_imagen_path(imagen) %></td>
        <td><%= link_to 'Destroy', imagen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagen', new_imagen_path %>
