<p id="notice"><%= notice %></p>

<h1>Listing Detalle Sol Devolucions</h1>

<table>
  <thead>
    <tr>
      <th>Sol dev cod</th>
      <th>Det sol dev linea</th>
      <th>Ins cod</th>
      <th>Ins cod prov</th>
      <th>Det sol dev cant</th>
      <th>Det sol dev precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_sol_devolucions.each do |detalle_sol_devolucion| %>
      <tr>
        <td><%= detalle_sol_devolucion.sol_dev_cod %></td>
        <td><%= detalle_sol_devolucion.det_sol_dev_linea %></td>
        <td><%= detalle_sol_devolucion.ins_cod %></td>
        <td><%= detalle_sol_devolucion.ins_cod_prov %></td>
        <td><%= detalle_sol_devolucion.det_sol_dev_cant %></td>
        <td><%= detalle_sol_devolucion.det_sol_dev_precio %></td>
        <td><%= link_to 'Show', detalle_sol_devolucion %></td>
        <td><%= link_to 'Edit', edit_detalle_sol_devolucion_path(detalle_sol_devolucion) %></td>
        <td><%= link_to 'Destroy', detalle_sol_devolucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle sol devolucion', new_detalle_sol_devolucion_path %>
