<p id="notice"><%= notice %></p>

<p>
  <strong>Sol dev cod:</strong>
  <%= @detalle_sol_devolucion.sol_dev_cod %>
</p>

<p>
  <strong>Det sol dev linea:</strong>
  <%= @detalle_sol_devolucion.det_sol_dev_linea %>
</p>

<p>
  <strong>Ins cod:</strong>
  <%= @detalle_sol_devolucion.ins_cod %>
</p>

<p>
  <strong>Ins cod prov:</strong>
  <%= @detalle_sol_devolucion.ins_cod_prov %>
</p>

<p>
  <strong>Det sol dev cant:</strong>
  <%= @detalle_sol_devolucion.det_sol_dev_cant %>
</p>

<p>
  <strong>Det sol dev precio:</strong>
  <%= @detalle_sol_devolucion.det_sol_dev_precio %>
</p>

<%= link_to 'Edit', edit_detalle_sol_devolucion_path(@detalle_sol_devolucion) %> |
<%= link_to 'Back', detalle_sol_devolucions_path %>
