<p id="notice"><%= notice %></p>

<p>
  <strong>Doc com cod:</strong>
  <%= @guia_despacho_compra.doc_com_cod %>
</p>

<p>
  <strong>Dir cod:</strong>
  <%= @guia_despacho_compra.dir_cod %>
</p>

<p>
  <strong>Guia desp fecha:</strong>
  <%= @guia_despacho_compra.guia_desp_fecha %>
</p>

<%= link_to 'Edit', edit_guia_despacho_compra_path(@guia_despacho_compra) %> |
<%= link_to 'Back', guia_despacho_compras_path %>
