<%= form_for(@transicion_estado_pedido) do |f| %>
  <% if @transicion_estado_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transicion_estado_pedido.errors.count, "error") %> prohibited this transicion_estado_pedido from being saved:</h2>

      <ul>
      <% @transicion_estado_pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :est_estado_ped_cod %><br>
    <%= f.number_field :est_estado_ped_cod %>
  </div>
  <div class="field">
    <%= f.label :estado_ped_cod %><br>
    <%= f.number_field :estado_ped_cod %>
  </div>
  <div class="field">
    <%= f.label :trans_est_ped_cod %><br>
    <%= f.number_field :trans_est_ped_cod %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
