<style>
.boton{
  float:right;
}
</style>
<div class='box'>
<h1>Vendedores</h1>
<div class='tabla'>
             
<table class="table table-hover">
            <colgroup><col width="80">
          <col width="1">
          <col width="150">
          <col width="100">
          <col width="1">
          <col width="1">
          <col width="1">
              </colgroup>
              <thead>
                  <tr bgcolor="d7d7d7">
                      <th>Nombre</th>
                      <th>rut</th>
                      <th>Telefono</th>
                      <th>correo</th>
                      <th></th>
                      <th></th>
                      <th></th>
                   </tr>
              </thead>
              <tbody bgcolor='ececec'>
                <%if @vendedors.present?%>
                 <%@vendedors.each do |vendedor|%>
                 <tr>
                <td><%=vendedor.ven_nom %></td>
                <td><%=vendedor.ven_rut%></td>
                <td><%=vendedor.ven_tel%></td>
                <td><%=vendedor.ven_mail%></td>
                <td><%= link_to vendedor do %><i class="glyphicon glyphicon-eye-open"></i><% end %></td>
                <td>
                  <%if User.where(email: vendedor.ven_mail).present?%>
                <%= link_to edit_vendedor_path(vendedor) do %><i class="glyphicon glyphicon-pencil"></i><% end %>
                <% end %></td>
                <td><%if User.where(email: vendedor.ven_mail).present?%>
                  <%= link_to vendedor, method: :delete, data: { confirm: '¿Está seguro?' } do %><i class="glyphicon glyphicon-trash"></i><%end%><%end%>
                </td>
                </tr>
                <%end%>
            <%else%>
              <td>No existen vendedores</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
            </tbody>
            
          </table>
<br>

<div class="boton"><%= button_to new_vendedor_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar Vendedor
<% end %></div>
</div>