 
<div class="box">
<p>
  <strong>Nombre:</strong>
  <%= @vendedor.ven_nom %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @vendedor.ven_rut %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendedor.ven_mail %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @vendedor.ven_tel %>
</p>

<%= link_to 'Editar', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Atras', vendedors_path %>
</div>