<p id="notice"><%= notice %></p>

<p>
  <strong>Doc com cod:</strong>
  <%= @detalle_documento_de_compra.doc_com_cod %>
</p>

<p>
  <strong>Det doc com linea:</strong>
  <%= @detalle_documento_de_compra.det_doc_com_linea %>
</p>

<p>
  <strong>Ins cod:</strong>
  <%= @detalle_documento_de_compra.ins_cod %>
</p>

<p>
  <strong>Ins cod prov:</strong>
  <%= @detalle_documento_de_compra.ins_cod_prov %>
</p>

<p>
  <strong>Det doc com cant:</strong>
  <%= @detalle_documento_de_compra.det_doc_com_cant %>
</p>

<p>
  <strong>Det doc com precio:</strong>
  <%= @detalle_documento_de_compra.det_doc_com_precio %>
</p>

<p>
  <strong>Det doc com precio uni:</strong>
  <%= @detalle_documento_de_compra.det_doc_com_precio_uni %>
</p>

<%= link_to 'Edit', edit_detalle_documento_de_compra_path(@detalle_documento_de_compra) %> |
<%= link_to 'Back', detalle_documento_de_compras_path %>
