<div class="box"><h1>New Instanci</h1>
<style>
.propiedades{
  float:top;
  padding-right: 20%;
}
</style>

<%= form_for(@instanci) do |f| %>
  <% if @instanci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instanci.errors.count, "error") %> prohibited this instanci from being saved:</h2>

      <ul>
      <% @instanci.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.fields_for :articulo do |a| %>
    <div class="field">
    <label>Nombre Artículo</label></br>
    <input placeholder="<%=@instanci.articulo.art_nom%>" disabled>
    <%= a.hidden_field :art_nom, :value=> @instanci.articulo.art_nom%>
  </div>
    <div class="field">
      <label>Categoria</label></br>
      <%@categoria=Categori.where(cat_cod: @instanci.articulo.cat_cod).take%>
      <select disabled><option><%=@categoria.cat_nom%></option></select>
      <%=a.hidden_field :cat_cod, :value=> @instanci.articulo.cat_cod%>
    </div>
 <p><strong>Propiedades</strong></p> 
 <%@arrayaux=[]%>
<div class="propiedades">
  <%= a.fields_for :art_prop_vals do |apv| %>
  <%if @arrayaux.include?(apv.object.prop_cod)==false
    @arrayaux.push(apv.object.prop_cod)
    @propiedad=Propiedad.where(prop_cod: apv.object.prop_cod).take
    if @propiedad.prop_nom=="Talla" || @propiedad.prop_nom=="Color"%>
  <%= apv.select(:prop_cod, Propiedad.where(prop_cod: @propiedad.prop_cod).collect {|prop| [ prop.prop_nom, prop.prop_cod ]})%>
     <%@pvs=PropiedadValor.where(prop_cod: @propiedad.prop_cod) 
    @valores=[]
    @pvs.each do |pv|
      @valores=@valores+Valor.where(val_cod: pv.val_cod)
      end%>
    <%= apv.select(:val_cod, @valores.collect {|val| [ val.val_nom, val.val_cod ]})%></br>
    <%else%>
    <select disabled><option><%=@propiedad.prop_nom%></option></select>
    <%= apv.hidden_field :prop_cod, :value => apv.object.prop_cod%>
    <%@valor=Valor.where(val_cod: apv.object.val_cod).take%>
    <select disabled><option><%=@valor.val_nom%></option></select>
    <%= apv.hidden_field :val_cod, :value => apv.object.val_cod%></br>
    <%end%><%end%>
  <%end%></div>
<% end %>
   <div class="field">
    <label>Código proveedor</label></br>
    <input placeholder="<%=@instanci.ins_cod_prov%>" disabled>
    <%= f.hidden_field :ins_cod_prov , :value=>@instanci.ins_cod_prov%>
  </div>
  <div class="field">
    <%= f.label :est_art_cod, "Estado artículo" %><br>
    <%= f.select(:est_art_cod, EstadoArticulo.all.collect {|es| [ es.est_art_nom, es.est_art_cod ]}, { :include_blank => "Seleccionar" })%>
  </div>
  <div class="field">
    <%= f.label :ins_stock, "Stock" %><br>
    <%= f.number_field :ins_stock %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_lista, "Precio de venta" %><br>
    <%= f.number_field :ins_precio_lista %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_prov, "Precio de proveedor" %><br>
    <%= f.number_field :ins_precio_prov %>
  </div>
     <div class="field">
    <label>Imagen</label></br>
    <%@imagen=Imagen.where(ins_cod_prov: @instanci.ins_cod_prov).take%>
    <input placeholder="<%=@imagen.imagen_uri%>" disabled>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%> <%= link_to 'Back', instancis_path %>
  </div>
<% end %>

</div>