 <style>
.tabla{
  background-color: #ececec; 
}
.boton{
  float:right;
}
</style>
<div class="box">
<h1>Artículos</h1>
<div class="tabla">
<table class="table table-hover">
  <thead>
    <tr bgcolor="d7d7d7">
      <th>Nombre</th>
      <th>Código</th>
      <th>Código proveedor</th>
      <th>Categoría padre</th>
      <th>Categoría</th>
      <th>Talla</th>
      <th>Stock</th>
      <th>Precio lista</th>
      <th>Estado</th>
      <th>Otras propiedades</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instancis.each do |instanci| @propiedad=nil%>
      <tr>
        <% @articulo=Articulo.where(art_cod: instanci.art_cod).take %>
        <td><%=@articulo.art_nom%></td>
        <td><%= instanci.ins_cod %></td>
        <td><%= instanci.ins_cod_prov %></td>
        <%@cat=Categori.where(cat_cod: @articulo.cat_cod).take
        @catp=Categori.where(cat_cod: @cat.cat_cat_cod).take%>
        <td><%= @catp.cat_nom %></td>
        <td><%= @cat.cat_nom %></td>
        <%@iapvs=InsApv.where(ins_cod: instanci.ins_cod)
        @iapvs.each do |iapv|
          @apv=ArtPropVal.where(apv_cod: iapv.apv_cod).take
            @propiedad=Propiedad.where(prop_cod: @apv.prop_cod, prop_nom: "Talla").take
            if @propiedad != nil
              @valor=Valor.where(val_cod: @apv.val_cod).take%>
              <td><%=@valor.val_nom%></td>
              <%break%>
            <%end%>
        <%end%>
        <%if @propiedad==nil%>
        <td>--</td>
        <%end%>
        <td><%= instanci.ins_stock %></td>
        <td><%= number_with_delimiter(instanci.ins_precio_lista, :delimiter => '.') %></td>
        <%@estado=EstadoArticulo.where(est_art_cod: instanci.est_art_cod).take%>
        <td><%= @estado.est_art_nom %>
         <a data-toggle="modal" data-target="#<%=instanci.ins_cod%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
          <!-- Modal -->
          <div class="modal fade bs-example-modal-sm" id="<%=instanci.ins_cod%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body" align="center">
              <%= render 'editar_estado', c: instanci%>
            </div></div></div></div></td>
        <td><%= link_to instanci do %><i class="glyphicon glyphicon-eye-open"></i>
<% end %></td>
        <td><a data-toggle="modal" data-target="#<%=instanci.ins_cod%>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
</a>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="<%=instanci.ins_cod%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" align="center">
        <%@imagen=Imagen.where(ins_cod_prov: instanci.ins_cod_prov).take%>

      </div>
    </div>
  </div>
</div></td>
        <td><%= link_to edit_instanci_path(instanci) do %><i class="glyphicon glyphicon-pencil"></i>
<% end %></td>
        <td><%= link_to instanci, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el artículo con código '+instanci.ins_cod.to_s+'?' } do %><i class="glyphicon glyphicon-trash"></i>
<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="boton"><%= button_to new_instanci_path, {method: :get, class: "btn btn-primary"} do %><i class="glyphicon glyphicon-plus"></i> Agregar Artículo
<% end %></div>
</div>