<div class="box"><h1>New Instanci</h1>
<style>
.propiedades{
  float:top;
  padding-right: 20%;
}
</style>

<%= form_for(@instanci) do |f| %>
  <% if @instanci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instanci.errors.count, "error") %> prohibited this instanci from being saved:</h2>

      <ul>
      <% @instanci.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.fields_for :articulo do |a| %>
    <div class="field">
    <%= a.label :art_nom, "Nombre artículo" %><br>
    <%= a.text_field :art_nom %>
  </div>
    <div class="field">
    <%= a.label :cat_cod, "Categoría" %><br>
    <%@categorias=Categori.all
    @aux=[]
    @aux1=[["Seleccionar",""]]
    @categorias.each do |cat|
      if cat.cat_cat_cod !=nil
      @aux.push(cat.cat_nom)
      @aux.push(cat.cat_cod)
      @aux1.push(@aux)
      @aux=[]
    end
      end%>
    <%= a.select(:cat_cod) do %></i>
  <% @aux1.each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %></div>
 <p><strong>Propiedades</strong></p> 
<div class="propiedades">

    <%= a.fields_for :art_prop_vals do |apv| %>
  <%= render 'art_prop_val_fields', f: apv %>
    <%= link_to_add_association 'Agregar propiedad', a, :art_prop_vals %>
  <%end%></div>
<% end %></br>
   <div class="field">
    <%= f.label :ins_cod_prov, "Código proveedor" %><br>
    <%= f.text_field :ins_cod_prov %>
  </div>
  <div class="field">
    <%= f.label :est_art_cod, "Estado artículo" %><br>
    <%= f.select(:est_art_cod, EstadoArticulo.all.collect {|es| [ es.est_art_nom, es.est_art_cod ]}, { :include_blank => "Seleccionar" })%>
  </div>
  <div class="field">
    <%= f.label :ins_stock, "Stock" %><br>
    <%= f.number_field :ins_stock %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_lista, "Precio de venta" %><br>
    <%= f.number_field :ins_precio_lista %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_prov, "Precio de proveedor" %><br>
    <%= f.number_field :ins_precio_prov %>
  </div>
  <%=f.fields_for :imagens do |im|%>
  <div class="field">
    <%= im.label :imagen_uri, "Imagen" %>
    <%= im.text_field :imagen_uri %>
  </div>
    <div class="field">
    <%= im.hidden_field :ins_cod_prov, :value =>"" %>
  </div>
  <%end%>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%> <%= link_to 'Back', instancis_path %>
  </div>
<% end %>

</div>