<h1>New Instanci</h1>

<%= form_for(@instanci) do |f| %>
  <% if @instanci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instanci.errors.count, "error") %> prohibited this instanci from being saved:</h2>

      <ul>
      <% @instanci.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.fields_for :articulo do |a| %>
    <div class="field">
    <%= a.label :art_nom, "Nombre artículo" %><br>
    <%= a.text_field :art_nom %>
  </div>
    <div class="field">
    <%= a.label :cat_cod, "Categoría" %><br>
    <%@categorias=Categori.all
    @aux=[]
    @aux1=[["Seleccionar",""]]
    @categorias.each do |cat|
      if cat.cat_cat_cod !=nil
      @aux.push(cat.cat_nom)
      @aux.push(cat.cat_cod)
      @aux1.push(@aux)
      @aux=[]
    end
      end%>
    <%= a.select(:cat_cod) do %></i>
  <% @aux1.each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %></div>
<% end %>
   <div class="field">
    <%= f.label :ins_cod_prov, "Código proveedor" %><br>
    <%= f.text_field :ins_cod_prov %>
  </div>
  <div class="field">
    <%= f.label :est_art_cod, "Estado artículo" %><br>
    <%@estados=EstadoArticulo.all
    @aux2=[]
    @aux3=[["Seleccionar",""]]
    @estados.each do |es|
      @aux2.push(es.est_art_nom)
      @aux2.push(es.est_art_cod)
      @aux3.push(@aux2)
      @aux2=[]
      end%>
    <%= f.select(:est_art_cod) do %></i>
  <% @aux3.each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
  </div>
  <div class="field">
    <%= f.label :ins_stock, "Stock" %><br>
    <%= f.number_field :ins_stock %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_lista, "Precio de venta" %><br>
    <%= f.number_field :ins_precio_lista %>
  </div>
  <div class="field">
    <%= f.label :ins_precio_prov, "Precio de proveedor" %><br>
    <%= f.number_field :ins_precio_prov %>
  </div>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', instancis_path %>
