<p id="notice"><%= notice %></p>

<p>
  <strong>Ins cod:</strong>
  <%= @instanci.ins_cod %>
</p>

<p>
  <strong>Ins cod prov:</strong>
  <%= @instanci.ins_cod_prov %>
</p>

<p>
  <strong>Est art cod:</strong>
  <%= @instanci.est_art_cod %>
</p>

<p>
  <strong>Art cod:</strong>
  <%= @instanci.art_cod %>
</p>

<p>
  <strong>Ins stock:</strong>
  <%= @instanci.ins_stock %>
</p>

<p>
  <strong>Ins precio lista:</strong>
  <%= @instanci.ins_precio_lista %>
</p>

<p>
  <strong>Ins precio prov:</strong>
  <%= @instanci.ins_precio_prov %>
</p>
<%= link_to "Copiar", copy_instanci_path(params[:id]) %> |
<%= link_to 'Editar', edit_instanci_path(@instanci) %> |
<%= link_to 'Atras', instancis_path %>
