<!DOCTYPE html>
<html>
<head>
  <title>P&S Designs</title>
  <link rel="stylesheet" href="http://localhost:3000/css1.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

</head>
  <body>
	<div id="logo">
		<img src="http://localhost:3000/Imagenes/logo-parte1.gif" height="100px" width="62px" alt="">
	</div>
	<div id="logo2">
			<img src="http://localhost:3000/Imagenes/logo-parte2.gif" height="59px" width="145px" alt="">
	</div>
  <%if current_user && current_user.role=='cliente'%>
  <button id='carrito' type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Mi carrito</button>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <%= render partial: "documento_de_compras/micarrito" %>
      </div>
    </div>
  </div>
<%end%>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000/">Inicio <span class="sr-only">(current)</span></a></li>
            <li><a href="http://localhost:3000/Quienes_somos">Quienes somos</a></li>
            <% def subcat(cat)
              @subcats=Categori.where(cat_cat_cod: cat.cat_cod)%>
              <ul class="dropdown-submenu" role="submenu">
              <%@subcats.each do |subcat|%>
                <li><a href="http://localhost:3000/categoris/<%=subcat.cat_cod%>"><%=subcat.cat_nom%></a></li>
                <% subcat(subcat)%>
              <%end%>
              </ul>
            <%end%>
            <% @categoris=Categori.all
            @categoris.each do |categori|
              if categori.cat_cat_cod.nil? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=categori.cat_nom%> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <%@categoris.each do |cat|
                    @cont=0
                    if cat.cat_cat_cod==categori.cat_cod
                      if @cont!=0%><li class="divider"></li><%end%>
                      <li><a href="http://localhost:3000/categoris/<%=cat.cat_cod%>"><%=cat.cat_nom%></a></li>
                      <%@cont=@cont+1
                      subcat(cat)
                      %>
                    <%end%>
                  <%end%>
                </ul>
              </li>
              <%end%>
            <% end%>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Políticas <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://localhost:3000/Despacho">Despacho</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/Devolucion">Devolución</a></li>
              </ul>
            </li>
            <li><a href="http://localhost:3000/Contacto">Contacto</a></li>
            <li><a href="http://localhost:3000/Preguntas">Preguntas frecuentes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li><a>Bienvenido, <%=current_user.cli_nom%></a></li>
                <li> <%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
                <%if current_user.role=='cliente'%>
                  <li><a href="http://localhost:3000/MiCuenta">Mi Cuenta</a></li>
                <%elsif current_user.role=='admin'%>
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://localhost:3000/vendedors">Vendedores</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/categoris">Administrar Categorias</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/propiedads">Administrar Propiedades</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/instancis">Administrar Articulos</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/documento_de_compras">Documentos de compras</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/solicitud_devolucions">Solicitudes de devolucion</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/proveedors">Proveedores</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/pedidos">Pedidos</a></li>
              </ul>
            </li>
                <%else%>
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vendedor <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="http://localhost:3000/documento_de_compras">Documentos de compras</a></li>
                      <li class="divider"></li>
                      <li><a href="http://localhost:3000/solicitud_devolucions">Solicitudes de devolucion</a></li>
                                            <li class="divider"></li>
                      <li><a href="http://localhost:3000/users/edit">Cambiar Contrasena</a></li>
                    </ul>            </li>
                <%end%>            
            <% else %>
                <li><a href="http://localhost:3000/users/sign_up">Registrarse</a></li>
                <li><%= link_to 'Entrar', new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
  </div>
  <% end %>
   <section>
   <%= yield %>
   </section> 
  </body>
</html>
