<%= form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prop_nom %><br>
    <%= f.text_field :prop_nom %>
  </div>
 <h2>Valores</h2>
 <%= f.fields_for :propiedad_valors do |pval| %>
 <%= pval.fields_for :valor do |val| %>
 <div class="field">
 <%= val.label :val_nom %><br>

 <%= val.text_field :val_nom%>
 </div>
 <% end %>
 <% end %>
  <div class="actions">
    <%= f.submit :value => 'Guardar', :class => 'btn btn-primary'%>
  </div>
<% end %>
